
.slick-dots li button:before {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: white;
}

.slick-dots li.slick-active button:before {
    color: red;
}

.slick-arrow.slick-next{
    display: none
}

.slick-next:before, .slick-prev:before {
    display: none;
}