.ant-input:hover {
  border-color: #a9a9a9;
  border-right-width: 1px;
}
.ant-input-focused,
.ant-input:focus {
  border-color: #a9a9a9;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
  border-right-width: 1px;
  outline: 0;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #a9a9a9;
  border-right-width: 1px;
  z-index: 1;
}
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:focus {
  border-color: #a9a9a9;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 20%);
  border-right-width: 1px;
  outline: 0;
}
.button .ant-btn {
  color: #fff;
  background-color: #fb4226;
  width: 100%;
  height: 40px;
  margin: 24px 0px 16px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 20px;
}
.button .ant-col-offset-8 {
  margin: 0;
}
.button .ant-col-16 {
  max-width: 100%;
}
.button .ant-btn:focus,
.ant-btn:hover {
  background-color: rgb(175, 46, 26);
  border: 1px solid rgb(175, 46, 26);
}
